:root {
    --title-font: 'Montserrat', sans-serif;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --black-color: #000000;
    --border-color: #dcdcdc;
    --button-color: #ffa500;
    --grey-color: #6d6b6b;
    --light-gray: #f1f0f0;
    --link-color: #3633fd;
    --section-color-1: #fcfcf1;
    --section-color-2: #03b1b1;
    --section-color-3: #809caa;
    --section-color-4: #386888;
    --text-color: #8b8b8b;
    --white-color: #ffffff;
    --function-transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
