@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.page-nav__container {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

.link-logo {
  transition: 300ms var(--function-transition);
}
.link-logo:hover {
  transform: scale(1.12);
}

.menu-nav {
  display: flex;
  align-items: center;
}

.menu-nav__item {
  list-style: none;
}
.menu-nav__item a {
  color: var(--link-color);
  transition: 300ms var(--function-transition);
}
.menu-nav__item a:hover {
  color: var(--section-color-3);
}

.lang-buttons {
  display: flex;
}

.language-button {
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 14px;
  color: var(--link-color);
  background-color: transparent;
  border: 1px solid var(--link-color);
  border-radius: 5px;
  padding: 3px;
  transition: 300ms var(--function-transition);
}
.language-button:hover {
  color: var(--grey-color);
  border: 1px solid var(--grey-color);
  transform: scaleX(1.07);
}
.language-button.active {
  color: var(--white-color);
  background-color: var(--link-color-two);
}

@media screen and (min-width: 360px) {
  .hero-header {
    margin-bottom: 40px;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #a7a7a7 64%, #ffffff 36%);
    border-image-slice: 1;
  }
  .menu-nav__item:last-child {
    margin-right: 11px;
  }
  .link-nav__phone {
    font-size: 16px;
    font-weight: 500;
  }
  .lang-buttons {
    justify-content: space-evenly;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .hero-header {
    margin-bottom: 60px;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #a7a7a7 57%, #ffffff 43%);
    border-image-slice: 1;
  }
  .menu-nav li:not(:last-child) {
    margin-right: 40px;
  }
  .link-nav__email {
    font-size: 18px;
    font-weight: 400;
  }
  .link-nav__phone {
    font-size: 18px;
    font-weight: 400;
  }
  .lang-buttons {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-header {
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #a7a7a7 54%, #ffffff 46%);
    border-image-slice: 1;
  }
  .menu-nav {
    margin-left: 540px;
  }
}
.hero {
  height: 700px;
  background-image: url("../img/bg/auto-service-bg.jpg");
  background-size: cover;
  background-position: center;
}

.hero-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 44px;
  color: var(--text-color);
  padding-left: 20px;
  margin-bottom: 40px;
}

.hero-text {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 24px;
  color: var(--text-color);
  padding-left: 20px;
}

.hero-text {
  overflow: hidden;
}

.hero-text:after {
  content: "|";
  display: inline-block;
  vertical-align: bottom;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  50% {
    opacity: 0;
  }
}
.button, .modal-form__button, .basement-button {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--button-color);
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  transition: 300ms var(--function-transition);
}
.button:hover, .modal-form__button:hover, .basement-button:hover {
  color: var(--button-color);
  background-color: var(--white-color);
  border: 2px solid var(--button-color);
}

@media screen and (min-width: 360px) {
  .link-nav__email,
.button,
.modal-form__button,
.basement-button {
    display: none;
  }
  .hero-text {
    font-size: 18px;
    width: 180px;
    margin-bottom: 30px;
  }
  .button, .modal-form__button, .basement-button {
    margin-left: 20px;
  }
}
@media screen and (min-width: 768px) {
  .link-nav__email,
.button,
.modal-form__button,
.basement-button {
    display: block;
  }
  .hero-sub__container {
    width: 280px;
    padding-left: 10px;
  }
  .hero-text {
    font-size: 22px;
    width: 100%;
  }
  .button, .modal-form__button, .basement-button {
    margin-left: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-sub__container {
    width: 400px;
    padding-left: 20px;
  }
  .hero-title {
    font-size: 52px;
  }
  .hero-text {
    font-size: 24px;
    margin-bottom: 90px;
  }
  .button, .modal-form__button, .basement-button {
    margin-left: 90px;
    writing-mode: initial; /* Default value */
    text-orientation: initial; /* Default value */
  }
}
.diagnostic {
  padding: 80px 10px;
}

.diagnostic-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.diagnostic-item {
  width: 160px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 10px;
  transition: 350ms var(--function-transition);
}
.diagnostic-item:hover {
  transform: scale(1.07);
}

.diagnostic-item__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.diagnostic-text {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 360px) {
  .diagnostic-list {
    gap: 10px;
  }
}
@media screen and (min-width: 768px) {
  .diagnostic-list {
    gap: 40px;
  }
}
.sub-services-1 {
  background-color: var(--white-color);
  border-top: 1px solid var(--border-color);
  margin-bottom: 10px;
}

.text-service-1, .text-service-4, .text-service-3, .text-service-2 {
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 24px;
  color: var(--text-color);
  margin: auto 0;
  padding: 20px 30px;
}

.sub-services-2 {
  background-color: var(--section-color-2);
  margin-bottom: 10px;
}

.text-service-2 {
  color: var(--white-color);
}

.sub-services-3 {
  background-color: var(--section-color-3);
  margin-bottom: 10px;
}

.text-service-3 {
  color: var(--white-color);
}

.sub-services-4 {
  background-color: var(--section-color-4);
  margin-bottom: 10px;
}

.text-service-4 {
  color: var(--white-color);
}

@media screen and (min-width: 480px) {
  .sub-services-1,
.sub-services-2,
.sub-services-3,
.sub-services-4 {
    display: block;
  }
  .service-img {
    width: 450px;
    height: 450px;
  }
}
@media screen and (min-width: 360px) {
  .service-img {
    width: 320px;
    height: 320px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .service-img {
    width: 480px;
    height: 480px;
  }
}
@media screen and (min-width: 1200px) {
  .sub-services-1,
.sub-services-2,
.sub-services-3,
.sub-services-4 {
    display: flex;
  }
}
.basement {
  text-align: center;
  background-color: var(--grey-color);
  padding: 20px;
}

.basement-info {
  display: flex;
  justify-content: space-around;
}

.basement-title {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 24px;
  color: var(--white-color);
  margin-bottom: 20px;
}

.basement-item {
  margin-bottom: 8px;
}
.basement-item:last-child {
  margin-bottom: 32px;
}

.basement-item a {
  color: var(--white-color);
  transition: 300ms var(--function-transition);
}
.basement-item a:hover {
  color: var(--link-color);
}

.text-info {
  font-family: var(--primary-fon);
  font-size: 20px;
}

.basement-time {
  display: flex;
  flex-direction: column;
}

.text-info__label {
  font-family: var(--primary-fon);
  font-weight: 400;
  font-size: 18px;
  color: var(--white-color);
  margin-bottom: 10px;
}

.text-info__time {
  font-family: var(--primary-fon);
  font-weight: 400;
  font-size: 18px;
  color: var(--white-color);
}

.feedback {
  max-width: 500px;
}

.basement-inputs {
  display: inline-block;
}

.input-form {
  color: var(--white-color);
  border: 1px solid var(--text-color);
  border-radius: 3px;
  background-color: transparent;
  padding: 5px 10px;
  margin-bottom: 10px;
  transition: 300ms var(--function-transition);
}
.input-form::placeholder {
  color: var(--text-color);
}
.input-form:hover {
  border-color: var(--white-color);
  outline: none;
}

.message-form {
  height: 100px;
  color: var(--white-color);
  border: 1px solid var(--text-color);
  border-radius: 3px;
  background-color: transparent;
  padding: 5px 10px;
  margin-bottom: 15px;
  transition: 300ms var(--function-transition);
}
.message-form::placeholder {
  color: var(--text-color);
}
.message-form:hover {
  border-color: var(--white-color);
  outline: none;
}

.basement-button {
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.license-box {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid var(--border-color);
}

.license {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  color: var(--white-color);
}

.color-img {
  fill: var(--white-color);
  filter: brightness(0) invert(1);
}

.basement p {
  display: inline;
}

.basement img {
  display: inline;
  vertical-align: middle;
}

@media screen and (min-width: 360px) {
  .feedback {
    display: none;
  }
  .text-info__time {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .feedback {
    display: block;
  }
  .input-form {
    width: 180px;
  }
  .message-form {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .input-form {
    width: 220px;
  }
  .message-form {
    width: 450px;
  }
}
.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 400ms var(--function-transition), visibility 400ms var(--function-transition);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 12%;
  width: 444px;
  height: 480px;
  background: var(--white-color);
  padding: 5px 20px;
  border-radius: 3px;
  box-shadow: 0 0 5px var(--black-color);
}

.modal-button__close {
  position: relative;
  top: 0px;
  right: -385px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  transition: 300ms var(--function-transition);
}
.modal-button__close:hover {
  fill: var(--button-color);
}

@media screen and (min-width: 360px) {
  .modal {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    display: block;
    left: 24%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    left: 36%;
  }
}
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__title {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form__lable {
  margin-bottom: 12px;
  margin-left: 20px;
}

.modal-form__description {
  display: block;
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 14px;
}

.modal-form__input {
  width: 360px;
  padding: 2px 8px;
  border-radius: 3px;
  transition: 300ms var(--function-transition);
}
.modal-form__input:hover {
  border-color: var(--link-color);
  outline: none;
}

.modal-form__message {
  width: 360px;
  height: 100px;
  padding: 2px 8px;
  border-radius: 3px;
  transition: 300ms var(--function-transition);
}
.modal-form__message:hover {
  border-color: var(--link-color);
  outline: none;
}

.modal-form__check-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
}

.modal-form__check {
  margin-right: 5px;
}

.modal-form__check-descr {
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 12px;
}

.modal-form__button {
  width: 150px;
  margin-right: auto;
  margin-left: auto;
}

.scrollButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 18px;
  padding: 10px 12px;
  background-color: var(--text-color);
  color: var(--white-color);
  border: none;
  border-radius: 3px;
  transition: 300ms var(--function-transition);
}
.scrollButton:hover {
  background-color: var(--black-color);
}

.scrollButton.show {
  display: block; /* Display a button using a class .show */
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --black-color: #000000;
  --border-color: #dcdcdc;
  --button-color: #ffa500;
  --grey-color: #6d6b6b;
  --light-gray: #f1f0f0;
  --link-color: #3633fd;
  --link-color-two: #6a5acd;
  --section-color-2: #2fb4af;
  --section-color-3: #899ba5;
  --section-color-4: #336c7d;
  --text-color: #8b8b8b;
  --white-color: #ffffff;
  --function-transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.diag-pc__main {
  background: linear-gradient(to bottom, var(--white-color), var(--grey-color));
  border-top: 2px solid var(--light-gray);
  margin-bottom: 5px;
  padding: 30px 0;
}

.diag-pc__title {
  font-family: var(--secondary-font);
  font-weight: 400;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 20px;
}

.subdiag-pc__img {
  max-width: 100%;
  border: 3px solid var(--white-color);
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.subdiag-pc__list {
  list-style-type: none;
  padding: 0 85px;
}

.subdiag-pc__item {
  font-family: var(--primary-font);
  color: var(--white-color);
}
.subdiag-pc__item::before {
  content: "►";
  font-size: 70%;
  color: var(--button-color);
  margin-right: 5px;
}
.subdiag-pc__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 360px) {
  .diag-pc__title {
    font-size: 22px;
  }
  .subdiag-pc__item {
    font-size: 16px;
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 768px) {
  .diag-pc__title {
    font-size: 28px;
  }
  .subdiag-pc__item {
    font-size: 20px;
    letter-spacing: 2px;
  }
}
@media screen and (min-width: 1200px) {
  .diag-pc__title {
    font-size: 34px;
  }
  .subdiag-pc__item {
    font-size: 24px;
    letter-spacing: 3px;
    margin-left: 230px;
  }
}
.diag-fuel__main {
  background: linear-gradient(to bottom, var(--white-color), var(--grey-color));
  border-top: 2px solid var(--light-gray);
  margin-bottom: 5px;
  padding: 30px 0;
}

.diag-fuel__title {
  font-family: var(--secondary-font);
  font-weight: 400;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 20px;
}

.subdiag-fuel__img {
  max-width: 100%;
  border: 3px solid var(--white-color);
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.subdiag-fuel__list {
  list-style-type: none;
  padding: 0 85px;
}

.subdiag-fuel__item {
  font-family: var(--primary-font);
  color: var(--white-color);
}
.subdiag-fuel__item::before {
  content: "►";
  font-size: 70%;
  color: var(--button-color);
  margin-right: 5px;
}
.subdiag-fuel__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 360px) {
  .diag-fuel__title {
    font-size: 16px;
  }
  .subdiag-fuel__item {
    font-size: 20px;
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 768px) {
  .diag-fuel__title {
    font-size: 28px;
  }
  .subdiag-fuel__item {
    font-size: 20px;
    letter-spacing: 2px;
  }
}
@media screen and (min-width: 1200px) {
  .diag-fuel__title {
    font-size: 34px;
  }
  .subdiag-fuel__item {
    font-size: 24px;
    letter-spacing: 3px;
    margin-left: 230px;
  }
}
.diag-ign__main {
  background: linear-gradient(to bottom, var(--white-color), var(--grey-color));
  border-top: 2px solid var(--light-gray);
  margin-bottom: 5px;
  padding: 30px 0;
}

.diag-ign__title {
  font-family: var(--secondary-font);
  font-weight: 400;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 20px;
}

.subdiag-ign__img {
  max-width: 100%;
  border: 3px solid var(--white-color);
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.subdiag-ign__list {
  list-style-type: none;
  padding: 0 85px;
}

.subdiag-ign__item {
  font-family: var(--primary-font);
  color: var(--white-color);
}
.subdiag-ign__item::before {
  content: "►";
  font-size: 70%;
  color: var(--button-color);
  margin-right: 5px;
}
.subdiag-ign__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 360px) {
  .diag-ign__title {
    font-size: 16px;
  }
  .subdiag-ign__item {
    font-size: 20px;
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 768px) {
  .diag-ign__title {
    font-size: 28px;
  }
  .subdiag-ign__item {
    font-size: 20px;
    letter-spacing: 2px;
  }
}
@media screen and (min-width: 1200px) {
  .diag-ign__title {
    font-size: 34px;
  }
  .subdiag-ign__item {
    font-size: 24px;
    letter-spacing: 3px;
    margin-left: 220px;
  }
}
.diag-electro__main {
  background: linear-gradient(to bottom, var(--white-color), var(--grey-color));
  border-top: 2px solid var(--light-gray);
  margin-bottom: 5px;
  padding: 30px 0;
}

.diag-electro__title {
  font-family: var(--secondary-font);
  font-weight: 400;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 20px;
}

.subdiag-electro__img {
  max-width: 100%;
  border: 3px solid var(--white-color);
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.subdiag-electro__list {
  list-style-type: none;
  padding: 0 85px;
}

.subdiag-electro__item {
  font-family: var(--primary-font);
  color: var(--white-color);
}
.subdiag-electro__item::before {
  content: "►";
  font-size: 70%;
  color: var(--button-color);
  margin-right: 5px;
}
.subdiag-electro__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 360px) {
  .diag-electro__title {
    font-size: 16px;
  }
  .subdiag-electro__item {
    font-size: 20px;
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 768px) {
  .diag-electro__title {
    font-size: 28px;
  }
  .subdiag-electro__item {
    font-size: 20px;
    letter-spacing: 2px;
  }
}
@media screen and (min-width: 1200px) {
  .diag-electro__title {
    font-size: 34px;
  }
  .subdiag-electro__item {
    font-size: 24px;
    letter-spacing: 3px;
    margin-left: 220px;
  }
}
.diag-ev__main {
  background: linear-gradient(to bottom, var(--white-color), var(--grey-color));
  border-top: 2px solid var(--light-gray);
  margin-bottom: 5px;
  padding: 30px 0;
}

.diag-ev__title {
  font-family: var(--secondary-font);
  font-weight: 400;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 20px;
}

.subdiag-ev__img {
  max-width: 100%;
  border: 3px solid var(--white-color);
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.subdiag-ev__list {
  list-style-type: none;
  padding: 0 85px;
}

.subdiag-ev__item {
  font-family: var(--primary-font);
  color: var(--white-color);
}
.subdiag-ev__item::before {
  content: "►";
  font-size: 70%;
  color: var(--button-color);
  margin-right: 5px;
}
.subdiag-ev__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 360px) {
  .diag-ev__title {
    font-size: 16px;
  }
  .subdiag-ev__item {
    font-size: 20px;
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 768px) {
  .diag-ev__title {
    font-size: 28px;
  }
  .subdiag-ev__item {
    font-size: 20px;
    letter-spacing: 2px;
  }
}
@media screen and (min-width: 1200px) {
  .diag-ev__title {
    font-size: 34px;
  }
  .subdiag-ev__item {
    font-size: 24px;
    letter-spacing: 3px;
    margin-left: 210px;
  }
}
.diag-chip__main {
  background: linear-gradient(to bottom, var(--white-color), var(--grey-color));
  border-top: 2px solid var(--light-gray);
  margin-bottom: 5px;
  padding: 30px 0;
}

.diag-chip__title {
  font-family: var(--secondary-font);
  font-weight: 400;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 20px;
}

.subdiag-chip__img {
  max-width: 100%;
  border: 3px solid var(--white-color);
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.subdiag-chip__list {
  list-style-type: none;
  padding: 0 85px;
}

.subdiag-chip__item {
  font-family: var(--primary-font);
  color: var(--white-color);
}
.subdiag-chip__item::before {
  content: "►";
  font-size: 70%;
  color: var(--button-color);
  margin-right: 5px;
}
.subdiag-chip__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 360px) {
  .diag-chip__title {
    font-size: 16px;
  }
  .subdiag-chip__item {
    font-size: 20px;
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 768px) {
  .diag-chip__title {
    font-size: 28px;
  }
  .subdiag-chip__item {
    font-size: 20px;
    letter-spacing: 2px;
  }
}
@media screen and (min-width: 1200px) {
  .diag-chip__title {
    font-size: 34px;
  }
  .subdiag-chip__item {
    font-size: 24px;
    letter-spacing: 3px;
    margin-left: 130px;
  }
}/*# sourceMappingURL=main.css.map */