.diag-electro__main {
    background: linear-gradient(to bottom, var(--white-color), var(--grey-color));
    border-top: 2px solid var(--light-gray);
    margin-bottom: 5px;
    padding: 30px 0;
}

.diag-electro__title {
    font-family: var(--secondary-font);
    font-weight: 400;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 20px;
}

.subdiag-electro__img {
    max-width: 100%;
    border: 3px solid var(--white-color);
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.subdiag-electro__list {
    list-style-type: none;
    padding: 0 85px;
}

.subdiag-electro__item {
    font-family: var(--primary-font);
    color: var(--white-color);

    &::before {
        content: "►";
        font-size: 70%;
        color: var(--button-color);
        margin-right: 5px;
    }

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 360px) {
    .diag-electro__title {
        font-size: 16px;
    }

    .subdiag-electro__item {
        font-size: 20px;
        letter-spacing: 1px;
    }
}

@media screen and (min-width: 768px) {
    .diag-electro__title {
        font-size: 28px;
    }

    .subdiag-electro__item {
        font-size: 20px;
        letter-spacing: 2px;
    }
}

@media screen and (min-width: 1200px) {
    .diag-electro__title {
        font-size: 34px;
    }

    .subdiag-electro__item {
        font-size: 24px;
        letter-spacing: 3px;
        margin-left: 220px;
    }
}
