.modal {
    position: absolute;
    top: 12%;
    width: 444px;
    height: 480px;
    background: var(--white-color);
    padding: 5px 20px;
    border-radius: 3px;
    box-shadow: 0 0 5px var(--black-color);
}

.modal-button__close {
    position: relative;
    top: 0px;
    right: -385px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    transition: 300ms var(--function-transition);

    &:hover {
        fill: var(--button-color);
    }
}

@media screen and (min-width: 360px) {
    .modal {
        display: none;
        // left: 10%;
    }
}

@media screen and (min-width: 768px) {
    .modal {
        display: block;
        left: 24%;
    }
}

@media screen and (min-width: 1200px) {
    .modal {
        left: 36%;
    }
}
