.diagnostic {
    padding: 80px 10px;
}

.diagnostic-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.diagnostic-item {
    width: 160px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 10px;
    transition: 350ms var(--function-transition);

    &:hover {
        transform: scale(1.07);
        // box-shadow: 0 0 10px var(--black-color);
    }
}

.diagnostic-item__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.diagnostic-text {
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 360px) {
    .diagnostic-list {
        gap: 10px;
    }
}

@media screen and (min-width: 768px) {
    .diagnostic-list {
        gap: 40px;
    }
}

@media screen and (min-width: 1200px) {
    
}